<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .slide-video{
            position: fixed;
            min-height: 100%;
            min-width: 100%;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>
<video src="https://img-baofun.zhhainiao.com/market/133/b99b51e6c7945c9d5565861d397451cb_preview.mp4"
       data-index="2" muted="muted" loop="loop"
       autoplay="autoplay" x5-video-player-type="h5" class="slide-video" data-v-5b1197d5=""></video>
</body>
</html>